{% extends "layout.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>
        <img src="{{ asset('creativados.png') }}" alt="Creativados">
        Hello World!
    </h1>
    <a href="{{ asset('creativados.png') }}" data-toggle="lightbox" data-title="A random title" data-footer="A custom footer text">
        <img src="{{ asset('creativados.png') }}" class="img-fluid">
    </a>
{% endblock %}