{% extends 'parts/layout.twig' %}
{% set menu_option="" %}
{% set seo_title="seo_title" %}
{% set seo_description="seo_description" %}
{% set body_class="" %}
{% block slide %}
    <h1><img src="{{ "logo.png"|asset }}" width="65" alt="Creativados">{{ "reativados projects"|trans }}</h1>
{% endblock %}
{% block content %}
    <p>
        {{ "Lorem ipsum dolor **sit amet**<br/>, http://parsedown.org consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum."|trans }}
    </p>
    <i class="myfonticon myfonticon-creativados"></i>
    <i class="myfonticon myfonticon-creativados2"></i>
{% endblock %}