<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("main.css") }}">
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset("main.js") }}"></script>
    </body>
</html>