<div class="navbar">
    <a class="navbar-brand" href="#">Title</a>
    <ul class="nav navbar-nav">
        <li {% if menu_option=="" %} class="active" {% endif %}>
            <a href="{{ ""|url }}">Home</a>
        </li>
        <li {% if menu_option=="page" %} class="active"{% endif %}>
            <a href="{{ "page"|url }}">Links</a>
        </li>
    </ul>
</div>